.imag-logo{
    margin:auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.imag-logoMenu{
  margin-left: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: greenyellow;
}

.margin-top-20{
  margin-top: 20px;

}

.titulo-erro{

  font-weight: bold;
  color: black;

}

